.file-node {
  display: flex;
  align-items: center;
  justify-content: start;

  height: 32px;
  margin-top: 15px;
  padding-left: 10px;
}
.file-node:hover {
  background-color: #2c3e50;
  cursor: pointer;
}

.file-node.selected {
  background-color: #2c3e50;
  border-left: 4px solid #61afef;
  color: white;
  font-weight: bold;
}

.file-node.active,
.activeFolder {
  /* thin blue border  */
  border: 2px solid #61afef;
}

.folder-button {
  border: none;
  cursor: pointer;
  outline: none;
  color: white;
  padding-top: 15px;
  font-size: 16px;
  background-color: transparent;
  max-width: 100%;
}
